<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.nankai.tjxf1.dao.FireLocInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.nankai.tjxf1.entity.FireLocInfo" >
    <result column="Car_Id" property="carId" jdbcType="INTEGER" />
    <result column="VIN" property="vin" jdbcType="VARCHAR" />
    <result column="Acc_ID" property="accId" jdbcType="INTEGER" />
    <result column="Main_BurnUnit1" property="mainBurnunit1" jdbcType="VARCHAR" />
    <result column="Main_BurnUnit1_Degree" property="mainBurnunit1Degree" jdbcType="VARCHAR" />
    <result column="Unit1_Circurt" property="unit1Circurt" jdbcType="VARCHAR" />
    <result column="Other1_Circurt" property="other1Circurt" jdbcType="VARCHAR" />
    <result column="Main_BurnUnit2" property="mainBurnunit2" jdbcType="VARCHAR" />
    <result column="Main_BurnUnit2_Degree" property="mainBurnunit2Degree" jdbcType="VARCHAR" />
    <result column="Unit2_Circurt" property="unit2Circurt" jdbcType="VARCHAR" />
    <result column="Other2_Circurt" property="other2Circurt" jdbcType="VARCHAR" />
    <result column="Main_BurnObject1_Name" property="mainBurnobject1Name" jdbcType="VARCHAR" />
    <result column="Main_BurnObject1_Burn" property="mainBurnobject1Burn" jdbcType="VARCHAR" />
    <result column="Main_BurnObject2_Name" property="mainBurnobject2Name" jdbcType="VARCHAR" />
    <result column="Main_BurnObject2_Burn" property="mainBurnobject2Burn" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectA" resultType="cn.nankai.tjxf1.entity.FireLocInfo">
      select * from b_firelocinfo where Acc_ID = 20191006
  </select>
  <insert id="insert" parameterType="cn.nankai.tjxf1.entity.FireLocInfo" >
    insert into b_firelocinfo (Car_Id,VIN, Acc_ID, Main_BurnUnit1,
      Main_BurnUnit1_Degree, Unit1_Circurt, Other1_Circurt, 
      Main_BurnUnit2, Main_BurnUnit2_Degree, Unit2_Circurt, 
      Other2_Circurt, Main_BurnObject1_Name, Main_BurnObject1_Burn, 
      Main_BurnObject2_Name, Main_BurnObject2_Burn
      )
    values (#{carId,jdbcType=INTEGER},#{vin,jdbcType=VARCHAR}, #{accId,jdbcType=INTEGER}, #{mainBurnunit1,jdbcType=VARCHAR},
      #{mainBurnunit1Degree,jdbcType=VARCHAR}, #{unit1Circurt,jdbcType=VARCHAR}, #{other1Circurt,jdbcType=VARCHAR}, 
      #{mainBurnunit2,jdbcType=VARCHAR}, #{mainBurnunit2Degree,jdbcType=VARCHAR}, #{unit2Circurt,jdbcType=VARCHAR}, 
      #{other2Circurt,jdbcType=VARCHAR}, #{mainBurnobject1Name,jdbcType=VARCHAR}, #{mainBurnobject1Burn,jdbcType=VARCHAR}, 
      #{mainBurnobject2Name,jdbcType=VARCHAR}, #{mainBurnobject2Burn,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.nankai.tjxf1.entity.FireLocInfo" >
    insert into b_firelocinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="carId != null" >
        Car_Id,
      </if>
      <if test="vin != null" >
        VIN,
      </if>
      <if test="accId != null" >
        Acc_ID,
      </if>
      <if test="mainBurnunit1 != null" >
        Main_BurnUnit1,
      </if>
      <if test="mainBurnunit1Degree != null" >
        Main_BurnUnit1_Degree,
      </if>
      <if test="unit1Circurt != null" >
        Unit1_Circurt,
      </if>
      <if test="other1Circurt != null" >
        Other1_Circurt,
      </if>
      <if test="mainBurnunit2 != null" >
        Main_BurnUnit2,
      </if>
      <if test="mainBurnunit2Degree != null" >
        Main_BurnUnit2_Degree,
      </if>
      <if test="unit2Circurt != null" >
        Unit2_Circurt,
      </if>
      <if test="other2Circurt != null" >
        Other2_Circurt,
      </if>
      <if test="mainBurnobject1Name != null" >
        Main_BurnObject1_Name,
      </if>
      <if test="mainBurnobject1Burn != null" >
        Main_BurnObject1_Burn,
      </if>
      <if test="mainBurnobject2Name != null" >
        Main_BurnObject2_Name,
      </if>
      <if test="mainBurnobject2Burn != null" >
        Main_BurnObject2_Burn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accId != null" >
        #{carId,jdbcType=INTEGER},
      </if>
      <if test="vin != null" >
        #{vin,jdbcType=VARCHAR},
      </if>
      <if test="accId != null" >
        #{accId,jdbcType=INTEGER},
      </if>
      <if test="mainBurnunit1 != null" >
        #{mainBurnunit1,jdbcType=VARCHAR},
      </if>
      <if test="mainBurnunit1Degree != null" >
        #{mainBurnunit1Degree,jdbcType=VARCHAR},
      </if>
      <if test="unit1Circurt != null" >
        #{unit1Circurt,jdbcType=VARCHAR},
      </if>
      <if test="other1Circurt != null" >
        #{other1Circurt,jdbcType=VARCHAR},
      </if>
      <if test="mainBurnunit2 != null" >
        #{mainBurnunit2,jdbcType=VARCHAR},
      </if>
      <if test="mainBurnunit2Degree != null" >
        #{mainBurnunit2Degree,jdbcType=VARCHAR},
      </if>
      <if test="unit2Circurt != null" >
        #{unit2Circurt,jdbcType=VARCHAR},
      </if>
      <if test="other2Circurt != null" >
        #{other2Circurt,jdbcType=VARCHAR},
      </if>
      <if test="mainBurnobject1Name != null" >
        #{mainBurnobject1Name,jdbcType=VARCHAR},
      </if>
      <if test="mainBurnobject1Burn != null" >
        #{mainBurnobject1Burn,jdbcType=VARCHAR},
      </if>
      <if test="mainBurnobject2Name != null" >
        #{mainBurnobject2Name,jdbcType=VARCHAR},
      </if>
      <if test="mainBurnobject2Burn != null" >
        #{mainBurnobject2Burn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>